<footer class="footer">
	<div class="container">
		<!-- <section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section> -->
		<section class="follow">
			<!-- <h2>Follow</h2> -->
			<h2>Links</h2>
			<ul>
				<!-- <li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li> -->
				<li><a title="Github" href="{{ site.github }}" target="_blank">Contribute on GitHub</a></li>
				<li><a title="Theme" href="https://github.com/arnolds/pineapple" target="_blank">Pineapple theme by arnolds</a></li>
			</ul>
		</section>
	</div>
	<div class="container">
		<p><i>All contents present on this site are provided from other public websites and organized for the sole scope of media preservation, following fair-use ideas and without any intent or possibility for profit. The website is completely free, without ads or payment options, and we do not accept any monetary donation. All intellectual property rights belong to the respective owners.</i></p>
	</div>
</footer>