---
---
<!DOCTYPE html>
<html lang="en">
<head>
	{%- capture this-id -%}
		{%- include tome-id tome=page -%}
	{%- endcapture -%}
	{%- assign this-id = this-id | split: '/' | first | strip -%}
	{%- capture is-page -%}
		{%- assign tokens = page.path | split: '/' -%}
		{%- if tokens.size == 1 and page.path != 'index.html' -%}true{%- else -%}false{%- endif -%}
	{%- endcapture -%}
	{% if this-id == '' %}
	<title>{{ site.name }} | {{ site.tagline }}</title>
	<meta name="description" content="{{ site.description }}">
	{% else %}
	<title>{{ page.title }} | {{ site.name }}</title>
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	{% endif %}
	<meta name="author" content="{{ site.name }}">
	<meta name="keywords" content="{{ site.keywords }}">
	<script type="application/json" id="tomes" src="{{ '/tomes.json' | prepend: site.baseurl }}"></script>
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				{%- if is-page == 'false' -%}
				{% if this-id == '' %}
				<h2>About site</h2>
				<p class="main">{{ site.description }}</p>
				{% endif %}

				{% assign content = page.content | strip %}
				{% if this-id != '' %}
				<span class="h2">Collection</span>
				<h1>{{ page.title }}</h1>
				<p>{{ page.subtitle }}</p>

				{% if content != '' %}
				<h2>About collection</h2>
				<p>{{ page.content }}</p>
				{% endif %}

				{% include tome-info.html %}
				{% endif %}
				{% else %}
				<h1>{{ page.title }}</h1>
				<br />
				{{ page.content | markdownify }}
				{% endif %}
			</div>
		</section>
		{%- if is-page == 'false' -%}
		<section class="projects">
			<div class="container">
				<h2>Available tomes</h2>
				<ul class="projects-list">
					{%- assign doclist = site.tomes | sort: 'date' | reverse -%}
					{%- for tome in doclist -%}

					{%- capture parent-id -%}
						{%- include tome-parent tome=tome -%}
					{%- endcapture -%}
					{%- assign parent-id = parent-id | strip -%}

					{% if tome.draft != true and parent-id == this-id %}
					<li>
						<a href="{{ tome.url | prepend: site.baseurl }}">
							<div class="img-wrapper">
								{% capture tome-id %}{% include tome-id tome=tome %}{% endcapture %}
								{%- assign parts = tome-id | split: '/' -%}
								{%- assign cover2 = tome.cover2 | strip -%}
								{%- if parts[1] == 'index' and cover2 != '' -%}
								<img src="{%- include tome-cover -%}/{{ parts[0] }}/{{ tome.cover }}" style="clip-path: polygon(0 0, 100% 0, 0 100%);" />
								<img src="{%- include tome-cover -%}/{{ parts[0] }}/{{ cover2 }}" style="clip-path: polygon(100% 100%, 100% 0, 0 100%); position: absolute; top: 0; left: 0;" />
								{% elsif this-id == '' %}
								<img src="{%- include tome-cover -%}/{{ parts[0] }}/{{ tome.cover }}" alt="{{ tome.title }}" />
								{% else %}
								<img src="{%- include tome-cover tome=page -%}" alt="{{ tome.title }}" />
								{% endif %}
							</div>
							<span class="h2">{{ tome.type }}</span>
							<h3>{{ tome.title }}</h3>
						</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</section>
		{% endif %}
	</main>
	{% include footer.html %}
	<script src="{{ '/assets/scripts/vendor/scrollreveal.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/scripts/home.js' | prepend: site.baseurl }}"></script>
</body>
</html>