<!DOCTYPE html>
<html lang="{% include tome-lang tome=page %}">
<head>
	{%- capture this-id %}{% include tome-id tome=page %}{%- endcapture -%}
	{%- capture parent -%}{%- include tome-parent tome=page key='title' -%}{%- endcapture -%}
	{%- capture title %}{% include tome-field tome=page field='title' %}{%- endcapture -%}
	{%- capture cover %}{% include tome-cover tome=page %}{%- endcapture -%}
	<title>{{ title }} | {{ site.name }}</title>
	<meta name="author" content="{{ site.name }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta property="og:image" content="{{ cover }}">
	{% include head.html %}
	<script type="application/json" id="tome">{% include tome.json tome=page full=true %}</script>
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Tome</span>
					<h1>{{ title }}</h1>
					<p>{{ page.subtitle }}</p>

					{% if parent != '' %}
					<span class="h2">Part of</span>
					<a href="..">{{ parent }}</a>
					{% endif %}

					<span class="h2">Cover</span>
					<img src="{{ cover }}" alt="Cover" style="max-height: 40vh; width: auto;" />

					{% assign content = page.content | strip %}
					{% if content != '' %}
					<span class="h2">About</span>
					{{ page.content }}
					{% endif %}

					{% include tome-info.html %}

					{% if page.isbn %}
					<span class="h2">ISBN</span>
					<a href="https://isbndb.com/search/books/{{ page.isbn }}" target="_blank">{{ page.isbn }}</a>
					{% endif %}

					{% if page.gbooks %}
					<span class="h2">Google Books</span>
					<a href="https://books.google.com/books?id={{ page.gbooks }}" target="_blank">{{ page.gbooks }}</a>
					{% endif %}
				</article>
				<aside>
					<ul>
						<li>
							<img src="{{ cover }}" alt="Cover" />
						</li>
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ '/assets/scripts/vendor/jquery-1.12.4.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/scripts/vendor/scrollreveal.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/scripts/vendor/sticky-kit.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/scripts/project.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/reader/autoload.js' | prepend: site.baseurl }}"></script>
</body>
</html>